<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tmnt.tritontrade">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.ForgotPassword" />
        <activity android:name=".view.Profile" />
        <activity android:name=".view.Welcome_Categories" />
        <activity android:name=".view.Create_Post" />
        <activity android:name=".view.Cart" />
        <activity android:name=".view.Settings" />
        <activity android:name=".view.DeveloperTeam" />
        <activity android:name=".view.Profile_NonUser" />
        <activity
            android:name=".view.Mainfeed"
            android:label="@string/title_activity_mainfeed"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".view.EditProfile" />
        <activity android:name=".view.Register_Account" />
        <activity
            android:name=".view.PopUpPost"
            android:theme="@style/AppTheme.PopUpPost" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".view.Register_Account_Two" />
        <activity android:name=".view.Verify_Account" />
        <activity android:name=".view.Verify_Account_Two" />
        <activity android:name=".view.Edit_Categories" />
        <activity android:name=".view.License_Displays" />
        <activity android:name=".view.ChangePassword"></activity>
    </application>

</manifest>